.list-item{
	padding: 10px;
	font-size: 16px;
	margin-bottom: 10px;
	/* background-color: rgb(175, 219, 228); */
}
.date {
	font-size: 8px;
}

.checked-btn{
	color: #01C094;
	font-size: 1rem;
}
.cross-btn{
	/* background-color: rgb(197, 30, 30); */
	font-size: 1rem;
	color: #F9554C;
}
.data-wrapper {
	display: flex;
	justify-content: space-between;
}
.btn {
	padding-right: 8px;
	padding-left: 8px;
}

.date-wrapper {
	display: flex;
	justify-content: end;
}